@charset "utf-8";

html{
    font-size: 60.5%;
}

body{
    color: #333;
    font-size: 1.6rem;
}

.userComment{
 padding-top:20px; 
}

.commentButton{
    padding-top: 20px;
}

.iineButton{
    padding-top:20px;
}

.dropdown{
    padding: 14px;
}